.breed-page {
  padding: 23px 18px 0;
}

.breed-info {
  padding: 20px 0;
}

.breed-name {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 15px;
}

.breed-description {
  font-size: 18px;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .breed-page {
    padding: 26px 96px 0;
  }
}
