.search-bar {
  border-radius: 60px;
  overflow: hidden;
  border: 1px solid #000;
  display: flex;
}

.search-bar__field {
  border-radius: 60px;
  padding: 10px 20px;
  border: none;
  flex-grow: 1;
  outline: none;
}

.search-bar__search-button {
  background-color: inherit;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}

.search-bar__suggestions {
  max-height: 200px;
  list-style: none;
  overflow: auto;
  padding: 10px 15px;
  box-shadow: 0 2px 6px #0000001f;
  border-radius: 12px;
}

.search-bar__suggestion {
  padding: 5px;
}
