.header {
  margin-top: 20px;
  border-radius: 38px;
  overflow: hidden;
}

.header__hero-image {
  width: 100%;
  height: auto;
  background-image: url("/HeroImagesm.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__hero-text {
  color: #fff;
  width: 40%;
  padding: 20px 25px;
}

.header__hero-text__title {
  font-size: 16px;
}

.header__hero-text__logo {
  display: none;
}

.header__hero-text__description {
  font-size: 13px;
  margin-top: 10px;
}

.header__most-searched-breeds {
  padding: 20px 25px;
  background-color: #e3e1dc;
}

.header__most-searched-breeds__title {
  font-size: 16px;
  font-weight: normal;
  position: relative;
  margin-bottom: 25px;
}

.header__most-searched-breeds__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background-color: #4d270c;
  bottom: -8px;
}

.header__most-searched-breeds__discover {
  font-weight: bold;
  font-size: 20px;
  max-width: 200px;
}

@media (min-width: 500px) {
  .header__hero-text {
    padding: 35px 30px;
  }

  .header__hero-text__title {
    font-size: 20px;
  }

  .header__hero-text__description {
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  .header__hero-image {
    background-image: url("/HeroImagemd.png");
  }
}

@media (min-width: 1000px) {
  .header__hero-image {
    background-image: url("/HeroImagelg.png");
  }

  .header__hero-text {
    padding: 150px 108px;
    width: 370px;
  }

  .header__hero-text__title {
    display: none;
  }

  .header__hero-text__logo {
    display: block;
  }

  .header__hero-text__description {
    font-size: 28px;
  }

  .header__most-searched-breeds {
    padding: 40px 108px;
  }

  .header__most-searched-breeds__title {
    font-size: 18px;
  }

  .header__most-searched-breeds__discover {
    font-size: 48px;
    max-width: 500px;
  }
}
